<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>Eckovation</title>

    <meta charset="utf-8">
    <link rel="icon" href="" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body style="background-color: #fff ; " style="margin: 0px;padding: 0px">
    <div class="nav-side">
        <div class="dashboard-header">

            <img src="../Upload/<%= userdetail.profilephoto %>" class="profile-pic ">
            </br>

            <div class="dropdown" style="margin-top: 70px" >
                <strong class="dashboard-head-link" style="text-decoration: none;margin-left: 10px">
                    <%=userdetail.username%>
                </strong>
                <a class=" dropdown-toggle" style="text-decoration: none"  type="button" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-menu-down" style="color: white;font-size: 20px;margin: 5px"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/editProfile/<%=userdetail._id%>" style="text-decoration: none">

                            <strong >Edit</strong>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="/logout" style="text-decoration: none">
                            <strong>Logout</strong>
                        </a>
                    </li>
                </ul>
            </div>

        </div>
    </div>

    <div class="main-body">
        <div class="dashboard-body">
            <h2>Intro To Machine Learning
                <div class="dropdown" style="float: right;">
                    <a class=" dropdown-toggle main-head-style" style="text-decoration: none"  type="button" data-toggle="dropdown">Videos
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/videodisplay/0" style="text-decoration: none">
                                Lectures
                                <strong style="background-color: green;padding: 4px;color: white">Free</strong>
                            </a>
                        </li>

                    </ul>
                </div>
            </h2>
        </div>

        <div  style="height:800px;background-image: url('/images/bgpic.png')">
            <div class="container" style="padding: 100px">
                <h1 class="text-center">This is a Demo App</h1>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>
